@charset "utf-8";

/* CSS Document */
@media only screen and (max-width: 1300px) {
}

@media only screen and (max-width: 1194px) {

}
@media only screen and (max-width: 1080px) {


    }
@media only screen and (max-width: 994px) {


}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 680px) {

}
@media only screen and (max-width: 480px) {
.reciver_add {
    display: inline-block;
    float: none;
    margin-top: 20px;
}
.disp-block{
  display: block;
}
}

@media only screen and (max-width: 320px) {
}
