html {
  height: 100%;
  box-sizing: border-box;
}
body {
  background-color: #e9ecef;
  color: #333;
  counter-reset: section;
  font-size: 16px;
  font-family:'raleway', sans-serif;
  margin: 0;
  min-height: 100%;
  position: relative;
}
ul, ol, h1, h2, h3, h4, h5, h6 {
  outline: none !important;
  margin: 0;
  padding: 0;
}
ul, li, h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;

}
p{
  /* line-height:30px; */
}

button, input, optgroup, select, textarea {
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button, hr, input {
    overflow: visible;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
.shadow_bg{
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
   /* background: #ece9e9; */
}
.courier_mail {margin-bottom: 48px;}

.courier_mail .card{

}
.logo_couriersec{background: #fff;box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);margin-bottom: 0px;}

.logo_courier{width: 35%;padding: 12px;margin: 0 auto;}
.logo_courier img{
}

.reciver{

}
.icon{
  /* display: inline-block; */
}
.icon i{
    font-size: 27px;
    line-height: 1;
    display: inline-block;
    letter-spacing: normal;
    text-transform: none;
    border-radius: 6px;
    word-wrap: normal;
    text-align: center;
    background: #fd3717;
    line-height: 40px;
    height: 50px;
    color: #fff;
    width: 50px;
}
.icon i.fa{
 line-height: 50px;
}
.desc{display: inline-block;/* margin-top: 17px; */}
.reciver .title{
  margin: 11px 0;
  padding: 8px 0;
  text-align: center;
  color: #ff6537;
  border-bottom: 1px solid #e0dede;
}
.rot{
  transform: scaleX(-1);
}
.reciver .reciver_cont{display: inline-block;}

.reciver .reciver_cont span{font-weight: 600;font-size: 16px;line-height: 0px;}
.reciver .reciver_cont p{color: #000;padding: 0;margin: 0;}
.reciver{

}

.reciver_add{
display: inline-block;
float: right;
}
 span{

}
.remaining_detail span, .reciver .reciver_add span{
font-weight: 600;font-size: 16px;line-height: 29px;
}
.reciver .reciver_add p{color: #000; padding: 0;margin: 0;}

.reciver{/* display: inline-block; */padding: 0 15px;}
.reciver.b-non{padding: 0 15px 0 0;}
.scan_det{

}

.scan_det p{
  
}

 .qr_img{
  width: 34%;
  /* padding: 8px 0; */
  margin: 0 auto;
  /* margin-top: 67px; */
}
.qr_img p{
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 20px;
}
.b-non .title{
  /* border: none; */
  /* text-align: center; */
}
.br-rt{
  border-right: 1px solid #f3f0f0;
  }   
.scan_det .qr_img img{
  
}
  /*footer*/
  footer{background-color: #000;}

  .footer_main{text-align: center;padding: 24px 0 7px 0;}
  .social_icon{
}
  .social_icon ul{
    margin: 0;
}
  .social_icon ul li{list-style: none;display: inline-block;border-radius: 50%;margin: 4px;text-align: center;}
  .social_icon ul li a {
    /* margin: 0 0 0 0; */
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
  .social_icon ul li a i {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    /*background-color: #ff9900;*/
    color: #fff;
    padding: 0;
    font-size: 17px;
    margin: 0 !important;
}

  .social_icon ul li a:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
  .quick_links{}
  .quick_links ul{
    margin: 0;
}
  .quick_links ul li{display: inline-block;
    list-style: none;
    margin: 11px 0;
    padding: 0 10px;
  }
  .quick_links ul li a {
    color: #fff;
    font-weight: 200;
    font-size: 15px;
}
  .quick_links p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0px;
    letter-spacing: 1px;
}
  .fb-col {
    background-color: #3b5999;
}
  .twi-col {
    background-color: #55acee;
}
.gog-col {
    background-color: #dd4b39;
}
.linked-col {
    background-color: #0077B5;
}
.col1{color: #ff6537;}
  /*Footer end*/

.send_sp{
  margin-right: 17px;
}
.wrap_detail{
  /* display: inline-block; */
}

.remaining_detail{float: left;}
.scan_det{float: right;}